/* src/components/ProductList.css */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  .product_img{
    display: flex;
    width:200px;
    height:200px;
  }
  .product {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 10px;
    width: 200px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .product button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .product button:hover {
    background-color: #218838;
  }
  